<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    {% if post.categories.all %}
        <h3>Categories:</h3>
            {% for category in post.categories.all %}
                <p>{{ category.name }}</p>
            {% endfor %}
    {% endif %}
    <p>Created at: {{ post.created_at }}</p>
    <p>Updated at: {{ post.updated_at }}</p>
    <p>{{ post.content }}</p>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.name }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <h2>Leave a Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>