<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>

<body>
    <nav>
        <a href="#">My Blog Posts</a>
        <a href="{% url 'admin:index' %}">Login</a>
    </nav>
    <ul>
        {% for post in posts %}
            <li>
                
                <h2 href="{% url 'post_detail' post.pk %}">{{ post.title }}</h2>
                {% if post.categories.all %}
                    <h3>Categories:
                        {% for category in post.categories.all %}
                            {{ category.name }}
                        {% endfor %}
                    </h3>
                {% endif %}
                <p>
                    {{ post.content|truncatechars:100 }}...
                    <a href="{% url 'post_detail' post.pk %}">Read more</a>
                </p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>