<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>{{ post.title }}</h1>
    {% if post.categories.all %}
    <h3>Categories:
        {% for category in post.categories.all %}
            {{ category.name }}
        {% endfor %}
    </h3>
    {% endif %}
    <h3>Tag:
        {% for tag in post.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </h3>
    <p>Created at: {{ post.created_at }}</p>
    <p>Updated at: {{ post.updated_at }}</p>
    <p class = "post-content">{{ post.content }}</p>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.name }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <h2>Leave a Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>